<div class="example-container">
  @switch (gameStage()) { @case (enum.SettingWord) {
  <h2>Setting</h2>
  <mat-form-field>
    <mat-label>Quantidade de jogadores</mat-label>
    <input
      type="number"
      matInput
      [formControl]="playerQuantity"
      (blur)="updateErrorMessagePlayerQuantity()"
      required
    />
    @if (playerQuantity.invalid) {
    <mat-error>{{ errorMessagePlayerQuantity() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Palavra do jogo</mat-label>
    <input
      matInput
      [formControl]="word"
      (blur)="updateErrorMessageWord()"
      required
    />
    <button
      matIconButton
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Get a random word'"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
    @if (playerQuantity.invalid) {
    <mat-error>{{ errorMessageWord() }}</mat-error>
    }
  </mat-form-field>

  } @case (enum.GivingMeaning) {
  <h2>Players meaning</h2>
  } @case (enum.Voting) {
  <h2>Players Voting</h2>
  } @case (enum.ShowingResult) {
  <h1>
    Jogando dicionario com {{ playerQuantity.value }} pessoas e com a palavra
    {{ word.value }}
  </h1>
  <h2>{{ wordMeaning() }}</h2>
  } }

  <button matButton="filled" (click)="nextStage()">Ok</button>
</div>
